@mixin menu {
    .menu {
        &-nav {
            margin: 0;
            padding-left: 1rem;
            background-color: darken($link-color, 5);
            list-style: none;
            border-top: thin solid slategrey;
            border-bottom: thin solid slategrey;
        }

        .nav-item {
            display: inline-block;
            text-align: left;
            list-style-type: none;
            padding: 0 .3rem;
        }

        .nav-link {
            position: relative;
            padding: 0 .3rem 0 0 !important;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 300;
            color: set-text-color($link-color);
            text-decoration: none;

            &.active {
                color: $secondary-color;
            }

            &:hover {
                color: $secondary-color;
            }
        }
    }

    .dropdown-toggle {
        background-color: $link-color;
        :hover {
            background-color: $link-color;
        }
        a:hover {
            background-color: $link-color;
        }
    }
    .dropdown-menu {
        background-color: $link-color;
    }

    .btn:hover, .btn:focus {
        background-color: $link-color;
    }

    // Arrow for menu dropdown
    .btn-secondary {
        color: $secondary-color !important;
    }

    .btn-secondary:focus, .btn-secondary:active {
        background-color: $link-color !important;
        border-color: darken($primary-color, 5) !important;
        box-shadow: 0 0 0 0.1rem rgba(130,138,145,.5);
    }

    .nav .button:hover {
        background-color: $link-color;
    }

    .dropdown-item:focus, .dropdown-item:hover {
        background-color: transparent;
        .nav-link {
            color: $secondary-color !important;
        }
    }
}

@mixin mobileMenu {
    // Menu Overlay

    .navbar {
        padding: 2.5rem 3rem;
    }

    .nav {
        flex-direction: column;
    }

    .navbar-toggler {
        position: absolute;
        z-index: 3;
        right: 35px;
        top: 35px;
        cursor: pointer;
    }

    .nav-item {
        &.current>a {
            color: $secondary-color !important;
        }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 300;
        color: set-text-color($link-color) !important;
        text-decoration: none;
        @include easeOut;

        &.active {
            color: $secondary-color !important;
        }

        &:hover {
            color: $secondary-color !important;
        }
    }
}
